## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов. Готовые решения принимаются в виде ссылки на GitHub.

#### Задача 1

Дана строка:

In [17]:
string_01 = "History is always written by the winners. hen two cultures clash, the loser is obliterated, and the winner writes the history books-books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [28]:
import re

In [58]:
symbol  = r'\S'
symbol_in_string = re.findall(symbol, string_01)
len(string)

223

In [56]:
list(map(lambda x: ' ' not in x, string_01)).count(True)

223

2. Посчитайте, сколько в строке слов.

In [61]:
word = r'\w+'
len(re.findall(word, string_01))

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [191]:
def words_start_from_(letter):
    word = f'\s{letter}\w+'
    return re.findall(word|r'W\w+', string_01.lower())

words_start_from_('w')

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [198]:
letter = 'w'
word = '\sletter\w+'.replace('letter', letter)
print(word)
word

\sw\w+

'\\sw\\w+'

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [138]:
import random

In [211]:
sequence = [str(random.randint(0, 9)) for i in range(5)] + ['3']
random.shuffle(sequence)
''.join(sequence)

'334402'

In [212]:
a = ''
while '3' not in a:
    a = ''.join([str(random.randint(0, 9)) for i in range(6)])
a

'153308'

#### Задача 3

Дан список:

In [132]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [136]:
sum([i for i in list_01 if (10 < i < 100) or (200 < i < 500)])

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [118]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [127]:
keys = [info[0] for info in students]
values = [info for num, *info in students]
students_dict = dict(zip(keys, values))
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [131]:
def change_group_number(student_id, new_group):
    try:
        students_dict.get(student_id, "Студента нет в списке")[4] = new_group
    except:
        print("Ошибка: Студента нет в списке")
    return

change_group_number("0001",'wd')
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'wd'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [112]:
def students_of_group(group):
    for info in students_dict.values():
        if group in info:
            print(f"{info[0]} {info[1]} {info[2]}")
    return

students_of_group('БСТ161')

Антонов Антон Игоревич
Степанова Наталья Александровна
Боков Игорь Харитонович

#### Задача 5

Дана матрица:

In [95]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [89]:
sum([el for row in matrix for el in row ])

94

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [90]:
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]

max(sum(row) for row in transposed)

22